<app-header [sticky]="true">
  <div>hello</div>
  <div></div>
  <div>hello</div>
  <div></div>
  <div>hello</div>
</app-header>
<app-canvas>
  <app-grid [columns]="['1fr', '3fr', '1fr']">
    <div>hello</div>
    <div>hello</div>
    <div></div>
    <div>hello</div>
    <div></div>
    <div>hello</div>
  </app-grid>
  <app-grid [columns]="['80px', '3fr', '1fr']">
    <div>hello</div>
    <div>hello</div>
    <div></div>
    <div>hello</div>
    <div>hello</div>
    <div></div>
    <div>hello</div>
    <div>hello</div>
    <div>hello</div>
    <div>hello</div>
    <div>hello</div>
    <div>hello</div>
    <app-button
      [rounded]="false"
      [text]="'Light Theme'"
      [success]="true"
      (click)="switchToLight()">
    </app-button>
    <app-card [direction]="'column'">
      <div>hello</div>
      <div>hello</div>
      <div>hello</div>
    </app-card>
    <div>hello</div>
  </app-grid>
  <app-button
    [rounded]="true"
    [text]="'Light Theme'"
    [success]="true"
    (click)="switchToLight()">
  </app-button>
  <app-button
    [rounded]="true"
    [text]="'Dark Theme'"
    [error]="true"
    (click)="switchToDark()">
  </app-button>
</app-canvas>
<app-section>
  <div appSkeletonLoader height="120px" width="60%"></div>
</app-section>
<app-card direction="column">
    <div>hello</div>
    <div>hello</div>
    <div>hello</div>
</app-card>
