
<app-canvas>
  <app-grid [columns]="['1fr', '3fr', '1fr']">
    <div>hello</div>
    <div>hello</div>
    <div></div>
    <div>hello</div>
    <div></div>
    <div>hello</div>
  </app-grid>
  <app-grid [columns]="['80px', '3fr', '1fr']">
    <div>hello</div>
    <div>hello</div>
    <div></div>
    <div>hello</div>
    <div>hello</div>
    <div></div>
    <div>hello</div>
    <div>hello</div>
    <div>hello</div>
    <div>hello</div>
    <div>hello</div>
    <div>hello</div>
    <div>hello</div>
    <div></div>
    <div>hello</div>
  </app-grid>
  <app-flex>
    <div>flex</div>
    <div>element</div>
    <div>element</div>
    <div>element</div>
    <div>element</div>
    <div>element</div>
    <div>element</div>
    <div>element</div>
  </app-flex>
  <button (click)="switchToLight()">Light Theme</button>
  <button (click)="switchToDark()">Dark Theme</button>
</app-canvas>
